@{
    ViewData["Title"] = "Home Page";
}

<section>
    <h1>This is a shape of clean architecture.</h1>
    <p>
        @Html.ActionLink("Let's get start it.", "Index", "Article")
    </p>
</section>